# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
*.log
test_logs/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# VS Code
.vscode/

docker-selenium/
